@charset "utf-8";
/* CSS Document */
.main_bg{
	background:url(../../../desktoppics/themes1.jpg) fixed center;	
}
/**任务栏**/
.main_task{
	background:url(../pics/task_bg.png) no-repeat left top;
 _background:none;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="styles/desktop/desktopthemes/theme1/pics/task_bg.png");	
}
.main_task .task_line{
	background:url(../pics/task_line.gif) no-repeat left center;	
}
.main_task .start a i{
	background:url(../pics/task_start1.png) no-repeat left top;
 _background:none;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="styles/desktop/desktopthemes/theme1/pics/task_start1.png");
}
.main_task .start a:hover i, .main_task .start .selected  i{
	background:url(../pics/task_start2.png) no-repeat left top;
 _background:none;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="styles/desktop/desktopthemes/theme1/pics/task_start2.png");
}
.main_task .start a:hover, .main_task .start .selected{
	background:url(../pics/task_start_bg.png) no-repeat left top;
 _background:none;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="styles/desktop/desktopthemes/theme1/pics/task_start_bg.png");
}
/**主菜单**/
.main_menu_div{
		
}
.main_menu_bg{
	background:#000000;
	opacity: 0.45;
	filter: alpha(opacity=45);	
}
.main_menu_border{
	border:1px solid #113b5f;
	opacity: 0.65;
	filter: alpha(opacity=65);	
}
.main_menu_light{
	border:1px solid #f7f8f9;
	opacity: 0.40;
	filter: alpha(opacity=40);	
}
.main_menu{
	background:url(../pics/menu_bottom.gif) no-repeat left bottom;	
}
.menu_bg{
	background:url(../pics/menu_bg.gif) no-repeat left top;	
}
/**一级菜单**/
.lv1_ul, .lv2_ul{
}
.lv1_ul li a, .lv1_ul li a:hover, .lv2_ul li a, .lv2_ul li a:hover{
	font-size:14px;
	color:#000000;
	text-decoration:none;
}
.lv1_ul li .lv1 .word, .lv2_ul li .lv2 .word{
	color:#000000;
}
.lv1_ul li .lv1:hover, .lv2_ul li .lv2:hover{
	background:url(../pics/menu_sel_bg.gif) no-repeat left 0px;
}
.lv1_ul li .lv1:hover .word, .lv2_ul li .lv2:hover .word{
	color:#000000;
	background:url(../pics/menu_sel_bg.gif) no-repeat right -38px;	
}
.lv1_ul li .arr:hover, .lv2_ul li .arr:hover{
	background:url(../pics/menu_sel_bgarr.gif) no-repeat left 0px;
}
.lv1_ul li .arr:hover .word, .lv2_ul li .arr:hover .word{
	background:url(../pics/menu_sel_bgarr.gif) no-repeat right -38px;	
}
.lv1_ul li .arr .arr, .lv2_ul li .arr .arr{
	background:url(../pics/menu_arr01.gif) no-repeat center;
}
.lv1_ul li .arr:hover .arr, .lv2_ul li .arr:hover .arr{
	background:url(../pics/menu_arr02.gif) no-repeat center;
}
/**2级菜单**/
.lv2_menu{
	background:url(../pics/menu_bottom.gif) no-repeat left bottom;	
}
.lv2_bg{
	background:url(../pics/menu_bg.gif) no-repeat left top;	
}
/**多级菜单**/
.lv_menu{
	
}
.lv_bg{
	
}
.lv_ul{
	background:#ffffff;
	border-left:1px solid #7a94a1;
	border-top:1px solid #7a94a1;
	border-right:1px solid #7a94a1;
	border-bottom:1px solid #7a94a1;
}
.lv_ul li a, .lv_ul li a:hover{
	font-size:14px;
	color:#000000;
	text-decoration:none;
}
.lv_ul li .lv .word{
	color:#000000;
}
.lv_ul li .lv:hover{
	background:url(../pics/menu_sel_bg.gif) no-repeat left 0px;
}
.lv_ul li .lv:hover .word{
	color:#000000;
	background:url(../pics/menu_sel_bg.gif) no-repeat right -38px;	
}
.lv_ul li .arr:hover{
	background:url(../pics/menu_sel_bgarr.gif) no-repeat left 0px;
}
.lv_ul li .arr:hover .word{
	background:url(../pics/menu_sel_bgarr.gif) no-repeat right -38px;	
}
.lv_ul li .arr .arr{
	background:url(../pics/menu_arr01.gif) no-repeat center;
}
.lv_ul li .arr:hover .arr{
	background:url(../pics/menu_arr02.gif) no-repeat center;
}
/**快捷菜单**/
.fv1_ul, .fv2_ul{
}
.fv1_ul li a, .fv1_ul li a:hover, .fv_ul li a, .fv_ul li a:hover{
	font-size:14px;
	color:#ffffff;
	text-decoration:none;
}
.fv1_ul li .fv1 .word, .fv_ul li .fv .word{
	color:#ffffff;
}
.fv1_ul li .fv1:hover, .fv_ul li .fv:hover{
	background:url(../pics/fv_sel_bg.gif) no-repeat left 0px;
}
.fv1_ul li .fv1:hover .word, .fv_ul li .fv:hover .word{
	color:#ffffff;
	background:url(../pics/fv_sel_bg.gif) no-repeat right -38px;	
}
.fv1_ul li .arr:hover, .fv_ul li .arr:hover{
	background:url(../pics/fv_sel_bgarr.gif) no-repeat left 0px;
}
.fv1_ul .arr.arr:hover .word, .fv_ul li .arr:hover .word{
	background:url(../pics/fv_sel_bgarr.gif) no-repeat right -38px;	
}
.fv1_ul li .arr .arr, .fv_ul li .arr .arr{
	background:url(../pics/fv_arr01.gif) no-repeat center;
}
.fv1_ul li .arr:hover .arr, .fv_ul li .arr:hover .arr{
	background:url(../pics/fv_arr02.gif) no-repeat center;
}
.fv_line{
	background:url(../pics/fv_line01.gif) no-repeat center;	
}
/**用户头像**/
.user_head{
	background:url(../../../desktoppics/user_head.png) no-repeat 4px 4px;
}
.user_headbg{
	background:url(../pics/headbg.png) no-repeat left top;
 _background:none;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="styles/desktop/desktopthemes/theme1/pics/headbg.png");
}
/**挂件**/
/**日历**/
.calendar_top{
	background:url(../pics/calendar_top.gif) no-repeat;		
}
.calendar_bg{
	background:url(../pics/calendar_bottom.gif) no-repeat left bottom;	
}
.calendar_date_p .other{
	color:#999999;
}
.calendar_date_p span{
	color:#333333;	
}
.calendar_date_p .curr i{
	color:#ffffff;
	background:#517ebb;	
}
/**日程列表**/
.rc_list{
	background:url(../pics/rclist_bg.jpg) no-repeat left bottom;	
}
.rc_list_top{
	background:url(../pics/rclist_top.jpg) no-repeat left top;
}
.rc_p a{
	color:#cbdbff;	
}
.rc_p a:hover{
	color:#ffffff;
	text-decoration:none;
}
.rc_div{
	background:url(../pics/calendar_line01.gif) no-repeat left bottom;
}
.rc_info .line{
	color:#38415a;	
}
.rc_info{
	color:#cbdbff;
}
/**搜索**/
.search_bg{
	background:url(../pics/search_bg01.gif) no-repeat left top;	
}
.search_input input{
	background:url(../pics/input_bg.gif) no-repeat left top;	
}
/**功能盒子**/
.funbox{
	background:url(../pics/funbox_bottom.gif) no-repeat left bottom;	
}
.funbox_con{
	background:url(../pics/funbox_top.gif) no-repeat left top;	
}
.funbox_tit{
	color:#a8b8e7;	
}
.funbox_con .tit_page p span{
	font-size:12px;
	color:#a8b8e7;
}
.funbox_con .tit_page .left{
	background:url(../pics/tit_page_left1.gif) no-repeat left center;
}
.funbox_con .tit_page .right{
	background:url(../pics/tit_page_right1.gif) no-repeat right center;	
}
.funbox_con .in_sys_ul li{
	border-bottom:1px dashed #3a4566;	
}
.funbox_con .in_sys_p .time{
	color:#85a8bf;
}
.funbox_con .in_sys_p .tit{
	color:#cbdbff;	
}
/**欢迎页**/
.main_wel_top .lb{
	background:url(../pics/wel_top_lb.gif) no-repeat left top;
}
.main_wel_top .rb{
	background:url(../pics/wel_top_rb.gif) no-repeat left top;
}
.main_wel_top .cc{
	background:url(../pics/wel_top_cc.gif) no-repeat left top;
}
.main_wel_center .lb{
	background:url(../pics/wel_center_lb.gif) no-repeat left bottom;
}
.main_wel_center .rb{
	background:url(../pics/wel_center_rb.gif) no-repeat left bottom;
}
.main_wel_center .cc{
	background:url(../pics/wel_center_cc.gif) repeat-y left top;
}
.main_wel_bottom .lb{
	background:url(../pics/wel_bottom_lb.gif) no-repeat left top;	
}
.main_wel_bottom .cc{
	background:url(../pics/wel_bottom_cc.gif) no-repeat left top;	
}
.main_wel_bottom .rb{
	background:url(../pics/wel_bottom_rb.gif) no-repeat left top;	
}
.wel_head .head_border{
	background:url(../pics/head_border.gif) no-repeat center;	
}
.wel_name{
	font-size:14px;
	color:#0290d6;
	background:url(../pics/head_name.gif) no-repeat left top;
}
.wel_info{
	color:#666666;	
}
.wel_info .wel_info_line{
	border-bottom:1px dashed #c8c8c8;	
}
.wel_info .wel_info_line span{
	font-size:14px;
}
.wel_tip{
	height:24px;
	line-height:24px;
	border-bottom:1px dashed #c9c9c9;	
}
.wel_tab{
	background:url(../pics/wel_tag_bg.gif) repeat-x left top;
}
.wel_line_p .time{
	color:#9fa2b2;	
}
.wel_line_p .user{
	color:#747d94;	
}
.wel_line_p .red{
	background:url(../pics/cir_red.gif) no-repeat center center;
}
.wel_line_p .blue{
	background:url(../pics/cir_blue.gif) no-repeat center center;
}












