@charset "utf-8";
/* CSS Document */
body{
	background:url(../pics/content_bg.jpg) fixed center bottom;	
}
.in_head{
	background:url(../pics/in_head_bg.png) no-repeat left top;	
}
.in_menu{
	background:url(../pics/in_menu_bg.png) repeat-x left top;	
}
.in_tab{
	background:url(../pics/in_tab_bg.gif) no-repeat center top;	
}
.in_logo{
	background:url(../pics/logo.jpg) no-repeat left top;	
}
/**主菜单**/
.in_menu_ul .lv1 a i{
	color:#e3f2f7;
	font-size:14px;
}
.in_menu_ul .lv1 a:hover{
	background:url(../pics/menu_select_bg.gif) no-repeat right -36px;
}
.in_menu_ul .lv1 a:hover i{
	color:#ffffff;
	background:url(../pics/menu_select_bg.gif) no-repeat left 0px;
}
.in_menu_ul #preGroup a:hover, .in_menu_ul #nextGroup a:hover{
	background:none;
}
.in_menu_ul #preGroup a:hover i, .in_menu_ul #nextGroup a:hover i{
	background:none;
}
/**二级样式**/
.in_menu_ul .lv1 .menu_lv2_div{
	border:2px solid #849d03;
	background:#f7f9ed;	
}
.in_menu_ul .menu_lv2_ul .lv2 a, .in_menu_ul .menu_lv2_ul .lv2 a:hover, .in_menu_ul .menu_lv2_ul .lv2 a i, .in_menu_ul .menu_lv2_ul .lv2 a:hover i{
	color:#333333;
	font-weight:bold;
	font-size:12px;
	background:none;
}
.in_menu_ul .menu_lv2_ul .lv2 a:hover i{
	color:#00aaff;
}
.in_menu_ul .menu_lv2_mask{
	background:url(../pics/menu_mask.gif) no-repeat right top;	
}
.in_menu_ul .menu_lv2_ul{
	background:url(../pics/menu_line.gif) repeat-x;
}
/**三级样式**/
.in_menu_ul .menu_lv3_ul .lv3 a, .in_menu_ul .menu_lv3_ul .lv3 a:hover, .in_menu_ul .menu_lv3_ul .lv3 a i, .in_menu_ul .menu_lv3_ul .lv3 a:hover i{
	color:#40413c;
	font-size:12px;
	font-weight:normal;
	background:none;
}
.in_menu_ul .menu_lv3_ul .lv3 a:hover i{
	color:#00aaff;
}
.in_menu_ul .menu_lv3_ul .has a:hover i{
	color:#40413c;
}
/**菜单左右箭头**/
.in_menu_ul .menu_lv2_left a, .in_menu_ul .menu_lv2_left a:hover{
	background:url(../pics/menu_left_arr.gif) no-repeat;	
}
.in_menu_ul .menu_lv2_right a, .in_menu_ul .menu_lv2_right a:hover{
	background:url(../pics/menu_right_arr.gif) no-repeat;	
}
/**4级以后下拉样式**/
.in_menu_ul .lv_sub{
	background:url(../pics/menu_sub_bg.gif) repeat-x left top #e8eed0;
	border-bottom:1px solid #c7d280;
}
.in_menu_ul .lv_sub li{
	background:url(../pics/menu_sub_line.gif) no-repeat left bottom;	
}
.in_menu_ul .menu_lv3_ul .lv_sub li a:hover i{
	color:#00aaff;
}
.in_menu_ul .menu_lv3_ul .lv_sub li.has a:hover i{
	color:#40413c;
}
/**页签**/
.in_tab_ul li a{
	color:#aee1ff;
	background:url(../pics/tab_bg.gif) no-repeat right -99px;	
}
.in_tab_ul li a:hover{
	text-decoration:none;	
}
.in_tab_ul li a i{
	color:#aee1ff;
	background:url(../pics/tab_bg.gif) no-repeat left -66px;	
}
.in_tab_ul .curr a{
	color:#000000;
	background:url(../pics/tab_bg.gif) no-repeat right -33px;
}
.in_tab_ul .curr a i{
	color:#000000;
	background:url(../pics/tab_bg.gif) no-repeat left 0px;
}
.in_tab_ul li a .close{
	background:url(../pics/tab_close.gif) no-repeat left 0px;
}
.in_tab_ul li a .close:hover{
	background:url(../pics/tab_close.gif) no-repeat left -15px;
}
/**内容背景**/
.in_contents{
	
}
.in_box_top{
	background:url(../pics/box_bg_top.gif) no-repeat right -28px;
}
.in_box_topbg{
	background:url(../pics/box_bg_top.gif) no-repeat left 0px;
}
.in_box_con{
	background:url(../pics/box_bg_right.gif) no-repeat right bottom;
}
.in_box_conbg{
	background:url(../pics/box_bg_left.gif) no-repeat left bottom;
}
.in_box_content{
	border:1px solid #5b5b5b;
	background:#f8f8f8
}
.in_box_topbg .in_box_topp{
	color:#ffffff;
}
/**日历**/
.calendar_bg{
	background:url(../pics/calendar_bg.jpg) no-repeat center top;	
}
.calendar_date_p .other{
	color:#999999;
}
.calendar_date_p span{
	color:#333333;	
}
.calendar_date_p .curr i{
	color:#ffffff;
	background:#29b599;	
}
/**日程列表**/
.rc_list{
	background:url(../pics/calendar_bg2.gif) repeat-x left top #e6f2f8;	
}
.rc_p a{
	color:#244f66;	
}
.rc_p a:hover{
	color:#000000;	
}
.rc_info .line{
	color:#aeaeae;
}
.rc_info{
	color:#3b5e73;
}
/**提醒**/
.my_tip_tit{
	font-size:14px;
	background:url(../pics/tip_bg01.gif) no-repeat center top;	
}
.my_tip_tit p{
	color:#244f66;
	background:url(../pics/tip_mail.gif) no-repeat 18px 19px;	
}
.my_tip_div{
	background:url(../pics/tip_bg02.gif) no-repeat center top;
}
.my_tip_div .tit{
	text-indent:2.2em;	
}
.my_tip_div .tit a{
	color:#3b5e73;	
}
.my_tip_num p span{
	background:url(../pics/tip_tip.gif) no-repeat left 0px;
}
.my_tip_num p span i{
	color:#3589bf;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../pics/tip_tip.gif) no-repeat right -17px;
}
/**系统公告**/
.in_sys_ul li{
	background:url(../pics/line01.gif) repeat-x left bottom;	
}
.in_sys_p .time{
	color:#999999;
}
.in_sys_p .tit{
	color:#4c6a7d;	
}
.in_sys_p .red{
	background:url(../pics/sys_red.gif) no-repeat center center;
}
.in_sys_p .blue{
	background:url(../pics/sys_blue.gif) no-repeat center center;
}
.in_sys_line .name, .in_sys_line .name a{
	color:#4c6a7d;
}
/**分页**/
.page p{
	color:#4c6a7d;
}
.page .pre, .page .next{
	color:#4c6a7d;	
}
.page .pre{
	background:url(../pics/page_left.gif) no-repeat left center;	
}
.page .next{
	background:url(../pics/page_right.gif) no-repeat right center;	
}