/*
create date：2014-04-10 11:03
created by：YuchengTech-UedTeam-WY
file name：login.css
remark：登录样式
last update：2014-04-10 11:03
*/

/*01-全局样式 sta*/
html,body {
	height:100%;
	overflow: hidden;
}

body,td,th {
	font-size: 12px;
	color: #222;
	outline: none;
}

* {
	font-family: 微软雅黑, 宋体;
}

body {
	background-color: #006ac1;
	margin: 0;
	padding: 0;
	background: url(pics/index/index_bg_01.jpg) center no-repeat;
}

div,ul,li,form,p {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}

img {
	border: none;
	float: left;
}

input,textarea {
	outline:none;
	resize: none;
}

a:link,a:visited {
	font-size: 12px;
	color: #222;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #266a0d;
	text-decoration: none;
}

a:active {
	color: #222;
}

.cl {
	clear: both;
	width: 0;
	height: 0;
}
/*01-全局样式 end*/

/*02-login sta*/
#loginContainer{
	position: absolute;
	z-index: 1;
	width:365px;
	height:435px;
	left:50%;
	top:50%;
	margin-left:-182px;
	margin-top:-217px;
	background-color:#fbfbfb;
	-moz-box-shadow: 0 0 5px #000000;
	-webkit-box-shadow: 0 0 5px #000000;
	box-shadow: 0 0 5px #000000;
	overflow: hidden;
	display: none;
}
#logo{
	height:100px;
	background-color: #f24f30;
	background-image: url("pics/login/pic_01.gif");
	background-position: center;
	background-repeat: no-repeat;
}
#loginIco{
	height:92px;
	background: url("pics/login/pic_02.gif") center no-repeat;
}
#formContainer ul li{
	width:100%;
	float: left;
	clear: left;
	height: 45px;
	line-height: 45px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#username,#password{
	width:275px;
	height:43px;
	color:#444;
	padding-left:30px;
	margin-left:30px;
	background-cloro:#fff;
	border:1px #aaa solid;
	font-size:18px;
	font-weight: bold;
	line-height:43px;
	vertical-align: middle;
}
#username{
	background-image: url("pics/login/pic_03.gif");
	background-position: left center;
	background-repeat: no-repeat;
}
#password{
	background-image: url("pics/login/pic_04.gif");
	background-position: left center;
	background-repeat: no-repeat;
}
.fulCheck{
	background-color: #e5e5e5;
	border-left: 5px #ffa729 solid;
}
.fulCheck #username,.fulCheck #password{
	margin-left: 25px;
}
#submitBtn:link,#submitBtn:visited{
	float:left;
	width:305px;
	height:45px;
	line-height:45px;
	margin-left:30px;
	font-size:18px;
	text-align:center;
	color:#fff;
	background:#f24f30;
	border:none;
}
#submitBtn:hover {
	background: #da3f21;
	text-decoration: none;
}
#submitBtn:active {
	background: #f24f30;
}
#versionInfo{
	width:100%;
	height:40px;
	line-height:40px;
	position:absolute;
	z-index:2;
	top:50%;
	margin-top:217px;
	text-align:center;
	color:#93620a;
	text-shadow:0px 1px 0px #ffe9c3;
	display: none;
}
/*02-login end*/